

.App-header {
  background-color: white;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}
.Heading {
display: flex;
align-items: center;
justify-content:center ;
padding-top: 60px;
color: rgb(190,190,190);
}
.style {
  font-weight: bold;
  color:white;
  font-size: 200%;
  border-color: white;
  background-color: rgb(200,200,200);
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  margin: 5px;

  
}


